.banner {
  position: relative;
  color: #fff;
  background-color: $dark;

  &__slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .owl-stage-outer,
    .owl-stage,
    .owl-item {
      height: 100%;
    }

    &-item {
      position: relative;
      height: 100%;

      &::before {
        @include ovl;
        background: linear-gradient(180deg, #000 64%, $tr 100%);
        opacity: .6;
        z-index: 1;
      }
    }

    &-img {
      height: 100%;
      max-height: unset !important;
      @include cv;
    }

    .owl-dots {
      bottom: 210px;
      
      @include r(800) {
        bottom: 130px;
      }
    }
  }

  &__in {
    position: relative;
    
    .container {
      position: relative;
    }
  }

  &__info {
    position: relative;
    min-height: 360px;
    margin-bottom: 100px;
    z-index: 3;

    @include r(1200) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__nav {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    background-color: #fff;
    border-radius: 50%;
    @include flex-center;
    transform: translateY(-50%);
    z-index: 3;
    
    @include r(1200) {
      display: none;
    }

    &:hover {
      background-color: $green;

      svg {
        stroke: #fff;
      }
    }

    &--prev {
      left: -25px;
    }

    &--next {
      right: -25px;
    }

    svg {
      fill: none;
      stroke: $dark;

    }
  }

  &__button {
    background-color: $tr;
    border: 1px solid $green;
    box-shadow: none;
    margin-bottom: 30px;

    @include r(1200) {
      width: 50px;
      height: 50px;
      padding: 0;
      @include flex-center;
    }

    &:hover {
      color: #fff;
      background-color: $green;
    }
  }

  .section__title {
    font-family: $fmed;
  }

  &__test {
    font-size: $h3;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @include r(1200) {
      font-size: $p2;
    }

    @include rmin(600) {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    svg {
      fill: #fff;

      @include r(1200) {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }

  &__price {
    &-icon {
      fill: #fff;
      margin-right: 15px;
      margin-bottom: -10px;
    }

    &-subtitle {
      margin-left: 5px;
      margin-bottom: -13px;
    }
  }

  &__border {
    position: relative;
    color: $gray;
    background-color: $tr;
    z-index: 3;

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
      transform: translateX(-50%)
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }
  }
}
