.begin {
  position: relative;

  &__in {
    background-color: $gray;
  }

  &__decor {
    position: absolute;
    z-index: 1;

    &--1 {
      left: -250px;
      bottom: -200px;
    }

    &--2 {
      right: -150px;
      bottom: -180px;
    }
  }

  &__video {
    position: relative;
    min-height: 322px;
    border-radius: 5px;
    background-color: #fff;
    @include cv;
    @include flex-center;

    @include rmin(1200) {
      transform: translateY(-50px);
    }

    @include r(600) {
      min-height: 163px;
    }
    
    &-button {
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background-color: #D9D9D9;
      
      &:hover {
        background-color: $green;
      }

      svg {
        fill: #fff;
      }
    }

    &-decor {
      position: absolute;

      &--1 {
        bottom: -100px;
        left: -120px;
      }

      &--2 {
        top: -60px;
        right: -100px;
      }
    }
  }

  &__border {
    color: $gray;
    transform: scale(-1, -1);

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
      transform: scale(-1, -1) translateX(50%);
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }
  }
}