.begin {
  position: relative;

  &__decor {
    position: absolute;
    z-index: 1;

    &--1 {
      left: -250px;
      bottom: -200px;
    }

    &--2 {
      right: -150px;
      bottom: -180px;
    }
  }

  &__in {
    .container {
      position: relative;
      z-index: 1;
    }

    @include r(1200) {
      text-align: center;
    }
  }

  &__video {
    position: relative;
    min-height: 322px;
    border-radius: 5px;
    background-color: #fff;
    @include cv;
    @include flex-center;

    @include rmin(1200) {
      transform: translateY(-50px);
    }

    @include r(600) {
      min-height: 163px;
    }
    
    &-button {
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background-color: $green;
      box-shadow: inset 0 2px 0 $tr, 0 10px 10px rgba(62, 142, 75, 0.2), 0 2px 0 #48A657;

      &:hover {
        box-shadow: inset 0 2px 0 $tr, 0 10px 10px $tr, 0 2px 0 #48A657;
      }

      &:focus {
        box-shadow: inset 0 2px 0 #48A657, 0 10px 10px $tr, 0 2px 0 $green;
      }

      svg {
        fill: #fff;
        transform: translateX(3px);
      }
    }

    &-decor {
      position: absolute;

      &--1 {
        bottom: -100px;
        left: -120px;
      }

      &--2 {
        top: -60px;
        right: -100px;
      }
    }
  }
}
