.crumbs {
  margin: 0 auto 30px;
  text-align: center;
  span {
    color: #fff;
    font-size: 16px;
    display: inline-block;

    @include r(1200) {
      margin-bottom: 8px;
    }

    a {
      color: #fff;

      &:hover {
        color: $green
      }
    }

    &:not(:last-child) {
      position: relative;

      &::after {
        content: '-';
        margin: 0 5px;
      }
    }

    a {
      border-bottom: 1px solid #fff;
    }
  }
}
