.header {
  position: relative;
  padding: 40px 0;
  z-index: 5;

  @include r(1200) {
    padding: 25px 0;

    &::before {
      @include ovl;
      height: calc(100% + 200px);
      background-color: #020202;
      opacity: 0;
      visibility: hidden;
      @include ease;
    }
    
    .container {
      position: relative;
    }
  }

  &__link {
    color: #fff;
  }

  &__logo {
    position: relative;
    display: flex;

    @include r(1200) {
      flex-grow: 1;
      flex-direction: column;
    }

    &-title {
      font-family: $fbold;
      font-size: 23px;
      text-transform: uppercase;

      @include r(1200) {
        font-size: 24px;
      }
    }

    &-subtitle {
      font-family: $fdem;
      font-size: 16px;
      color: #fff !important;
      margin-top: -4px;
      @include ease;

      @include r(1200) {
        font-size: 13px;
      }
    }

    @include rmin(1200) {
      &-delim {
        width: 1px;
        height: 32px;
        margin: 0 15px;
        background-color: #fff;
        display: block;
      }
    }
  }

  &__hamb {
    position: relative;
    width: 43px;
    height: 33px;

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
      @include ease;

      &--2 {
        opacity: 0;
        visibility: hidden;
        transform: scale(.5);
      }
    }
  }

  &__favorites {
    position: relative;
    padding: 11px;

    @include r(1200) {
      padding: 9px;
    }

    &-value {
      position: absolute;
      font-size: $p1;
      color: $dark;
      right: -5px;
      top: -5px;
      min-width: 24px;
      min-height: 24px;
      background-color: #FFB800;
      border-radius: 50%;
      @include flex-center;
    }

    svg {
      stroke: none;
      fill: #fff;

      @include r(1200) {
        width: 23px;
        height: 20px;
      }
    }
  }

  &__cabinet {
    font-size: 16px;
    border-bottom: 1px solid #fff;
    margin-right: 20px;

    &-wrp {
      @include r(1200) {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 50%;
        opacity: 0;
        padding: 25px 0;
        visibility: hidden;
        transform: translateX(-10px);
        @include ease;
      }
    }

    &:first-child {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        right: -10px;
        top: calc(50% + 3px);
        width: 1px;
        height: 100%;
        transform: translateY(-50%);
        background-color: #fff;
      }
    }

    &-icon {
      fill: #fff;
      @include ease;
    }
  }

  &__tel {
    font-family: $fmed;
    font-size: $p2;
    color: $green;
  }

  &__border {
    color: #fff;
    transform: scale(-1, -1);
    background-color: $gray;

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
      transform: scale(-1, -1) translateX(50%)
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }
  }

  &__wrapper--light {
    color: $dark;

    .header {
      padding-bottom: 5px;

      &__hamb-icon--1 {
        fill: $dark;
      }

      &__link {
        color: $dark;

        &:hover {
          color: $green;
        }
      }

      &__logo {
        &-subtitle {
          color: $dark !important
        }

        &-delim {
          background-color: $dark;
        }

        &::after {
          background-color: $dark;
        }
      }

      &__cabinet {
        border-bottom-color: $dark;

        &-icon {
          fill: $dark;
        }
      }
    }
  }
}


body.show-menu {
  .header {
    &::before {
      opacity: .9;
      visibility: visible;
    }

    &__logo-subtitle {
      color: #fff !important;
    }

    &__link {
      color: #fff;
    }

    &__hamb {
      &-icon {
        &--1 {
          transform: translate(-50%, -50%) scale(.5);
          opacity: 0;
          visibility: hidden;
        }

        &--2 {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &__cabinet {
      border-bottom-color: #fff;

      &-wrp {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%);
      }

      &-icon {
        fill: #fff;
      }
    }
  }
}
