.offer {
  position: relative;
  color: #fff;
  min-height: 700px;
  background-position: 50% calc(100% + 40px);
  background-repeat: no-repeat;

  &::before {
    @include ovl;
    background: linear-gradient(180deg, #000 64%, $tr 100%);
    opacity: .6;
  }

  & > * {
    position: relative;
  }

  @include r(1200) {
    background-position: 50% 100%;
    min-height: unset;
  }

  &__in {
    text-align: center;
    padding: 80px 0 380px;

    @include r(1200) {
      padding: 50px 0 110px;
    }
  }

  &__title {
    font-size: 60px;

    @include r(1200) {
      font-size: 25px;
    }

    span {
      font-size: 70px;

      @include r(1200) {
        font-size: 45px;
      }

      @include r(400) {
        font-size: 30px;
      }
    }
  }

  &__subtitle {
    font-size: $h2;
    line-height: 1.2;
    max-width: 910px;
    margin: 25px auto 65px;

    @include r(1200) {
      font-family: $fmed;
      font-size: $p1;
      margin: 25px auto 10px;
      min-height: 100px;
    }
  }

  &__border {
    color: $gray;

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
      transform: translateX(-50%);
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }
  }
}

.rub {
  &::after {
    content: "₽";
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto;
    font-weight: 700;
  }
}