.questions {
  &__in {
    padding-bottom: calc(60px + 180px);

    @include r(1200) {
      padding-bottom: calc(30px + 130px);
    }
  }
}

.question {
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__top {
    font-size: $p2;
    padding: 11px 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    @include ease;

    @include r(1200) {
      padding: 11px 20px;
    }
  }

  &__arrow {
    stroke: $dark;
    @include ease;
    min-width: fit-content;

    margin-left: 10px;
  }

  &__descr {
    font-size: $p1;
    padding: 17px 30px;
    background-color: #fff;
    border: 1px solid $dgray;
    margin-top: 5px;

    @include r(1200) {
      padding: 15px 20px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &.active {
    .question {
      &__top {
        color: #fff;
        background-color: $green;
      }

      &__arrow {
        stroke: #fff;
        transform: scaleY(-1);
      }
    }
  }
}