.quiz {
  .button {
    min-width: 180px;

    @include r(500) {
      width: 100%;
    }
  }

  &__item {
    padding: 40px 0;

    @include r(600) {
      padding: 25px 0;
    }
  }

  input {
    font-family: $fdem;
  }

  &__stage {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: $gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(1200) {
      height: 4px;
    }

    &-line {
      flex-grow: 1;
      height: 6px;

      @include r(1200) {
        height: 4px;
      }

      &:first-child {
        max-width: 15px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        @include r(600) {
          max-width: 6px;
        }
      }

      &:last-child {
        max-width: 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        @include r(600) {
          max-width: 6px;
        }
      }

      &--active {
        background-color: $green;
      }
    }

    &-circle {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: $gray;
      border-radius: 50%;

      @include r(1200) {
        width: 15px;
        height: 15px;
      }

      &--active {
        background-color: $green;
      }
    }
  }

  &__title {
    font-family: $fdem;
    font-size: $h4;
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;

    @include r(1200) {
      flex-direction: column;
    }

    &-num {
      font-size: 18px;
      border: 2px solid $dark;
      min-width: 28px;
      min-height: 28px;
      margin-right: 25px;
      border-radius: 50%;
      @include flex-center;

      @include r(1200) {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
  
  &__radio {
    cursor: pointer;
    margin-bottom: 0;

    @include r(500) {
      width: 100%;
    }

    &:not(:last-child) {
      @include rmin(1200) {
        margin-right: 30px;
      }

      @include r(1200) {
        margin-bottom: 15px;
      }
    }

    .button {
      box-shadow: inset 0 2px 0 $tr, 0 10px 10px rgba(62, 142, 75, 0.2), 0 2px 0 #48A657;

      &:hover {
        box-shadow: inset 0 2px 0 $tr, 0 10px 10px $tr, 0 2px 0 #48A657;
      }
    }

    input {
      position: absolute;
      visibility: hidden;

      &:checked + .button {
        box-shadow: inset 0 2px 0 #48A657, 0 10px 10px $tr, 0 2px 0 $green;
      }
    }

  }
  
  &__image-radio {
    position: relative;
    width: 100%;
    min-height: 170px;
    cursor: pointer;
    @include cv;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    input {
      position: absolute;
      visibility: hidden;

      &:checked + .quiz__image-radio-overlay {
        opacity: 1;
      }
    }

    &-overlay {
      position: relative;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      @include flex-center;
      @include ease;
      opacity: 0;

      &::before {
        @include ovl;
        background-color: $green;
        opacity: .7;
      }
    }

    &-circle {
      position: relative;
      width: 48px;
      height: 48px;
      border: 3px solid #fff;
      border-radius: 50%;
      @include flex-center;

      svg {
        stroke: #fff;
      }
    }
  }

  &__input {
    max-width: 200px;

    @include r(500) {
      max-width: unset;
      flex-grow: 1;

    }

    &-wrp {
      @include r(500) {
        width: 100%;

        span {
          min-width: 18px;
        }
      }
    }
  }

  &__border {
    color: $gray;

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }

    &--top {
      transform: scale(-1, -1);

      @include r(800) {
        transform: scale(-1, -1) translateX(50%);
      }
    }

    &--bot {
      @include r(800) {
        transform: translateX(-50%);
      }
    }
  }
}
