.stories {
  position: relative;

  &__decor {
    position: absolute;
    z-index: 1;

    &--1 {
      left: -250px;
      bottom: -110px;
    }

    &--2 {
      right: -150px;
      bottom: -20px;
    }
  }
  
  &__in {
    .container {
      position: relative;
      z-index: 1;
    }

    @include r(1200) {
      text-align: center;
    }
  }

  &__video {
    position: relative;
    min-height: 322px;
    border-radius: 5px;
    background-color: #fff;
    @include cv;
    @include flex-center;

    @include r(600) {
      min-height: 163px;
    }
    
    &-button {
      width: 67px;
      height: 67px;
      border-radius: 50%;
      background-color: $green;
      box-shadow: 0 10px 10px rgba(62, 142, 75, 0.2), 0 2px 0 #48A657;
      
      &:hover {
        box-shadow: 0 -2px 0 #48A657;
      }

      svg {
        fill: #fff;
      }
    }

    &-decor {
      position: absolute;

      &--1 {
        bottom: -100px;
        left: -120px;
      }

      &--2 {
        top: -60px;
        right: -100px;
      }
    }
  }
}