button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $tr;
}

.button {
  position: relative;
  font-size: $h5;
  font-family: $gbold;
  text-align: center;
  display: inline-block;
  padding: 12px 25px;
  color: #fff;
  background-color: $green;
  border-radius: 5px;
  @include ease-in-out;
  box-shadow: 0 10px 10px rgba(62, 142, 75, 0.2), 0 2px 0 #48A657;

  @include r(1200) {
    font-size: $p1;
    box-shadow: 0 10px 10px rgba(62, 142, 75, 0.2), 0 2px 0 #48A657 !important;
    padding: 12px 20px;
  }

  @include r(600) {
    padding: 8px 17px;
  }

  &:hover {
    color: #fff;
    box-shadow: 0 10px 10px $tr, 0 2px 0 #48A657;
  }

  svg {
    stroke: #fff;
  }

  &--big {
    min-width: 272px;
  }

  &--tr {
    background-color: $tr;
    border: 1px solid $green;
    box-shadow: none;
    &:hover {
      color: #fff;
      background-color: $green;
    }

    &-black {
      color: $dark;

    }
  }

  &--delete {
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @include flex-center;
    @include ease;

    svg {
      fill: $dark;
      @include ease;
    }

    &:hover {
      background-color: $red;
      box-shadow: 0 2px 0 #48A657;

      svg {
        fill: #fff;
      }
    }
  }

  &--social {
    width: 100%;
    max-width: 100px;

    @include r(1200) {
      max-width: 90px;
      @include flex-center;
    }

    //@include r(600) {
    //  max-width: 90px;
    //}


    svg {
      fill: #fff;
      stroke: none;
    }
    
    &-vk {
      background-color: #45668E;
      box-shadow: 0 10px 10px rgba(41, 53, 43, 0.2), 0 2px 0 #3B5676;

      &:hover {
        box-shadow: 0 10px 10px $tr, 0 2px 0 #3B5676;
      }

      @include r(1200) {
        box-shadow: 0 10px 10px $tr, 0 2px 0 #3B5676 !important;
      }
    }

    &-gg {
      background-color: #D63F3F;
      box-shadow: 0 10px 10px rgba(41, 53, 43, 0.2), 0 2px 0 #B82727;

      &:hover {
        box-shadow: 0 10px 10px $tr, 0 2px 0 #B82727;
      }

      @include r(1200) {
        box-shadow: 0 10px 10px $tr, 0 2px 0 #B82727 !important;
      }
    }

    &-fb {
      background-color: #455B99;
      box-shadow: 0 10px 10px rgba(41, 53, 43, 0.2), 0 2px 0 #36518A;

      &:hover {
        box-shadow: 0 10px 10px $tr, 0 2px 0 #36518A;
      }

      @include r(1200) {
        box-shadow: 0 10px 10px $tr, 0 2px 0 #36518A !important;
      }
    }
  }
}
