$fbold: 'FuturaBold';
$fdem: 'FuturaDemi';
$fmed: 'FuturaMedium';
$flig: 'FuturaLight';
$fbook: 'FuturaBook';

.fbold {
  font-family: $fbold;
}
.fdem {
  font-family: $fdem;
}
.fmed {
  font-family: $fmed
}
.flig {
  font-family: $flig;
}
.fbook {
  font-family: $fbook;
}

$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 25px;
$h5: 18px;
$p1: 16px;
$p2: 20px;


.h1 {
  font-size: $h1;
  @include r(1200) {
    font-size: $h2;
  }
}
.h3 {
  font-size: $h3;
  @include r(1200) {
    font-size: $p2;
  }
}
.h4 {
  font-size: $h4;
}
.h5 {
  font-size: $h5;
}
.p1 {
  font-size: $p1;
}
.p2 {
  font-size: $p2;
}