.owl-carousel {
  .owl-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;

    button.owl-dot {
      position: relative;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      padding: 0;
      background-color: #fff;

      span {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        background-color: #fff;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(.5);
        opacity: 0;
        @include ease;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        span {
          transform: translate(-50%, -50%) scale(1);
          opacity: .4;
        }
      }
    }
  }
  .owl-nav {
    button {
      &.owl-prev,
      &.owl-next {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        background-color: #fff;
        border-radius: 50%;
        padding: 0;
        @include flex-center;
        transform: translateY(-50%);
        @include ease;

        svg {
          max-width: 17px;
          max-height: 17px;
          height: auto;
          fill: none;
          stroke: $dark;
          @include ease;
          @include r(1200) {
            max-height: 12px
          }
        }

        &:hover {
          background-color: $green;

          svg {
            stroke: #fff;
          }
        }

        &.disabled,
        &.disabled:hover {
          opacity: 0;
          cursor: default;
        }
      }

      &.owl-prev {
        left: -50px;
        @include r(1200) {
          left: 5px;
        }
      }

      &.owl-next {
        right: -50px;
        @include r(1200) {
          right: 5px;
        }
      }
    }
  }
}
