.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 55px 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  @include ease;
  transform: translateY(50px);
  opacity: 0;

  @include r(600) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__wrp {
    padding: 0 0 50px;
    background-color: $tr;

    @include r(600) {
      padding: 0 10px 50px;
    }
  }

  &--call {
    max-width: 370px;
  }

  &--terms {
    max-width: 900px;

    &__in {
      max-height: 500px;
      padding-right: 15px;
      overflow-y: auto;
      @include scroll;

      @include r(1200) {
        max-height: 451px;
      }
    }

    &__button {
      &-icon {
        width: 50px;
        min-width: 50px;
        height: 50px;
        background-color: $green;
        border-radius: 50%;
        @include flex-center;

        @include r(1200) {
          width: 30px;
          min-width: 30px;
          height: 30px;
        }

        svg {
          stroke: #fff;

          @include r(1200) {
            width: 19px;
          }
        }
      }

      &:hover {
        color: $green;
      }
    }
  }
}

.fancybox-slide--current {
  .popup {
    transform: translateY(0);
    opacity: 1;
  }
}

.fancybox-slide--html .fancybox-close-small {
  padding: 8px;
  background-color: $green;
  border-radius: 50%;
  opacity: 1;

  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }

  svg {
    @include ease-in-out;

    path {
      fill: #fff;
    }
  }
}