.section {
  &--inner {
    padding: 60px 0;
    @include r(1200) {
      padding: 35px 0
    }
  }

  &--gray {
    background-color: $gray;
  }

  &__title {
    font-size: $h1;
    font-family: $gsbold;
    margin-bottom: 40px;
    text-align: center;

    @include r(1200) {
      font-size: 25px;
      margin-bottom: 15px;
    }
    
    &--small {
      font-size: $h3;
      text-align: left;
      
      @include r(1200) {
        font-size: $p2;
      }
    }
  }



  &__subtitle {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;

    &--wide {
      max-width: 770px;
    }

    @include r(1200) {
      font-size: 18px;
      margin-bottom: 30px;
    }

    @include r(600) {
      max-width: 254px;
    }
  }

  &__border {
    color: $gray;

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }

    &--top {
      transform: scale(-1, -1);

      @include r(800) {
        transform: scale(-1, -1) translateX(50%);
      }
    }

    &--bot {
      @include r(800) {
        transform: translateX(-50%);
      }
    }
  }

}

.inner-content {
  .crumbs {
    position: relative;
    margin-top: -30px;

    span {
      color: $dark;

      a {
        color: $dark;
        border-bottom-color: $dark;
      }
    }
  }
}
