.area {
  &-info {
    padding-bottom: 60px;

    @include r(1200) {
      padding-bottom: 30px;
    }

    &__item {
      display: flex;
      flex-direction: column;

      @include r(1200) {
        text-align: center;
        align-items: center;
      }
    }

    .button {
      @include r(400) {
        width: 100%;
      }
    }

    &__img {
      width: 102px;
      height: 102px;
      background-color: $green;
      border-radius: 50%;
      @include flex-center;

      svg {
        fill: #fff;
      }
    }
  }

  &-views {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-family: $fmed;
      font-size: $h2;
      margin-bottom: 30px;

      @include r(1200) {
        font-size: $h4;
        margin-bottom: 20px;
      }
    }
  }

  &-stat {
    &__item {
      max-width: 91px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--succeed {
        .area-stat__circle {
          background-color: $green;

        }

        .area-stat__icon {
          fill: #fff;
        }
      }

      @include r(1200) {
        margin: 10px 10px;
      }

      @include r(600) {
        flex-basis: 33%;
      }

      @include r(370) {
        margin: 10px 3px;
      }
    }

    &__circle {
      position: relative;
      width: 76px;
      height: 76px;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 10px;
      @include flex-center;
    }

    &__percentage {
      position: absolute;
      width: 100px;
      height: 100px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      path {
        stroke: $green;
        fill: none;
        stroke-width: 1;
        stroke-linecap: round;
      }
    }

    @include r(370) {
      .p1 {
        font-size: 14px;
      }
    }
  }

  &-reserv {
    @include r(1200) {
      text-align: center;
    }

    .button {
      margin-top: 15px;

      @include r(400) {
        width: 100%;
      }
    }
  }
}

.animatable {
  animation-play-state: paused;
}

.animated {
  animation-fill-mode: both;
  animation-play-state: running;
  animation: progress 2s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.plan {
  position: relative;
  min-height: 800px;
  overflow: hidden;

  @include r(1200) {
    min-height: 400px;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;

    @include r(1200) {
      height: 400px;
    }
  }

  &__border {
    color: $gray;
    z-index: 1;

    @include r(800) {
      position: relative;
      width: 848px;
      height: 130px;
      left: 50%;
    }

    @include r(600) {
      width: 688px;
      height: 90px;
    }

    &--top {
      position: relative;
      transform: scale(-1, -1);

      @include r(800) {
        transform: scale(-1, -1) translateX(50%);
      }
    }

    &--bot {
      position: absolute;
      bottom: 0;
      left: 0;
      @include r(800) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__top {
    position: relative;
    background-color: $gray;
    z-index: 1;
  }

  .section__title {
    margin-bottom: 0;
  }
}