.cabinet {
  &__info {
    @include rmin(1200) {
      max-width: 270px;
    }

    @include r(400) {
      .button {
        width: 100%;
      }
    }
  }

  &__dropdown {
    position: relative;

    @include r(600) {
      width: 100%;
    }

    &-in {
      font-size: $p1;
      padding: 25px 20px;

      @include r(1200) {
        padding: 20px 10px;
      }

      @include r(600) {
        width: 100%;
      }

      input {
        padding-left: 15px;
        padding-right: 15px;
        min-width: 210px;

        @include rmin(1200) {
          min-width: 240px;
        }
      }
    }

    &-label {
      min-width: 180px;

      @include r(1200) {
        margin-bottom: 6px;
      }
    }

    &-close {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 20px;
      top: -15px;
      background-color: $green;
      border-radius: 50%;
      @include flex-center;

      svg {
        fill: #fff;
      }
    }
  }
}