<section class="begin">
    <img class="begin__decor begin__decor--1 d-none d-xl-block" src="{{root}}assets/img/begin__decor--3.png" alt="blur-leaf">
    <div class="begin__in section--inner section--gray">
        <div class="container">
            <div class="section__title">Как мы добились таких цен</div>
            <div class="row mb-3 mb-xl-4">
                <div class="col-xl-6">
                    <p>Дело в том, что тут тестовый текст, поэтому сложно будет передать суть вопроса в такого рода тексте. Оставим это тут, чтобы Вы почитали и приняли для себя решение по поводу того почему все-таки так недорого мы отдаем нашу родную землю.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 order-2 order-xl-1">
                    <div class="h3 fdem mb-2">Ключевое - кропотливый поиск</div>
                    <p>Наши аналитики по недвижимости день и ночь прочесывают кадастровые отчеты в надежде найти, нетронутые коттеджными и жилыми комплексами, участки земли.</p>
                </div>
                <div class="col-xl-6 order-1 order-xl-2 mb-3 mb-xl-0">
                    <div class="begin__video">
                        <img class="begin__video-decor begin__video-decor--1 d-none d-xl-block" src="{{root}}assets/img/begin__decor--1.png" alt="leaf">
                        <img class="begin__video-decor begin__video-decor--2 d-none d-xl-block" src="{{root}}assets/img/begin__decor--2.png" alt="leaf">
                        <button class="begin__video-button" data-src="https://www.youtube.com/watch?v=XPpTgCho5ZA" data-fancybox>
                            <svg width="18" height="20">
                                <use xlink:href="#play"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="begin__decor begin__decor--2 d-none d-xl-block" src="{{root}}assets/img/begin__decor--4.png" alt="blur-leaf">
</section>
