<div class="filter">
    <div class="filter__list d-flex flex-column flex-xl-row justify-content-between align-items-center">
        <button class="filter__advanced d-flex justify-content-center justify-content-xl-start align-items-center js-toggle-advanced-filter order-3 order-xl-1">
            <svg width="24" height="24">
                <use xlink:href="#gear"></use>
            </svg>
            <span class="ml-2 gsbold">Дополнительные параметры</span>
        </button>

        <div class="d-flex justify-content-center justify-content-xl-start align-item-center order-1 order-xl-2 mb-3 mb-xl-0">
            <span class="mr-3 mr-xl-4">Отображение:</span>
            <button class="filter__view-button">
                <svg width="21" height="19">
                    <use xlink:href="#filter__view-icon--1"></use>
                </svg>
            </button>
            <button class="filter__view-button filter__view-button--active">
                <svg width="19" height="19">
                    <use xlink:href="#filter__view-icon--2"></use>
                </svg>
            </button>
            <button class="filter__view-button">
                <svg width="19" height="19">
                    <use xlink:href="#filter__view-icon--3"></use>
                </svg>
            </button>
        </div>

        <div class="d-flex justify-content-center justify-content-xl-start align-items-center order-2 order-xl-3 mb-3 mb-xl-0">
            <div class="mr-3">
                <select class="js-select">
                    <option>Цена по возрастанию</option>
                    <option>Цена по убыванию</option>
                </select>
            </div>
            <div>
                <select class="js-select">
                    <option>40</option>
                    <option>50</option>
                </select>
            </div>
        </div>
    </div>
    <div class="filter__dropdown active">
        <div class="d-flex justify-content-between justify-content-sm-center justify-content-xl-between flex-wrap">
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="22" height="36">
                            <use xlink:href="#filter__checkbox-icon--1"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Электричество</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="37" height="37">
                            <use xlink:href="#filter__checkbox-icon--2"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Ограждение</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="32" height="36">
                            <use xlink:href="#filter__checkbox-icon--3"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Освещение</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="36" height="36">
                            <use xlink:href="#filter__checkbox-icon--4"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Дороги</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="36" height="36">
                            <use xlink:href="#filter__checkbox-icon--5"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Спортивная площадка</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="36" height="36">
                            <use xlink:href="#filter__checkbox-icon--6"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Детская площадка</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="38" height="36">
                            <use xlink:href="#filter__checkbox-icon--7"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Пикник-место</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="38" height="36">
                            <use xlink:href="#filter__checkbox-icon--8"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Пляж</span>
                </span>
            </label>
            <label class="filter__checkbox">
                <input type="checkbox">
                <span class="filter__checkbox-in">
                    <span class="filter__checkbox-circle">
                        <svg class="filter__checkbox-icon" width="33" height="36">
                            <use xlink:href="#filter__checkbox-icon--9"></use>
                        </svg>
                        <svg class="filter__checkbox-gal" width="28" height="28" stroke="#fff">
                            <use xlink:href="#gal"></use>
                        </svg>
                    </span>
                    <span class="text-center p1">Охрана</span>
                </span>
            </label>
        </div>
    </div>
</div>
