<footer class="footer">
    <svg class="footer__border" width="100%" height="183">
        <use xlink:href="#border--top"></use>
    </svg>
    <div class="footer__in">
        <div class="container">
            <div class="d-flex justify-content-center">
                <a class="footer__logo" href="#">
                    <span class="footer__logo-title">Земельный фонд РФ</span>
                    <span class="footer__logo-subtitle">Земля, доступная каждому.</span>
                </a>
            </div>
        </div>
    </div>
</footer>