<header class="header">
    <div class="container">
        <div class="d-flex flex-column flex-xl-row justify-content-between align-items-xl-center">
            <div class="d-flex justify-content-between align-items-center flex-grow-1">
                <a class="header__logo header__link align-items-xl-center" href="#">
                    <span class="header__logo-title">Сила земли</span>
                    <span class="header__logo-delim"></span>
                    <span class="header__logo-subtitle">Земля, доступная каждому</span>
                </a>

                <div class="d-flex justify-content-end align-items-center">
                    <button class="button mr-xl-3 d-none d-xl-block" data-src="#popup--call" data-fancybox type="button">Оставить заявку</button>

                    <a class="button header__favorites mr-2 mr-xl-4" href="#" data-toggle="tooltip" title="Избранные объекты" data-placement="bottom">
                        <span class="header__favorites-value">3</span>
                        <svg width="31" height="28">
                            <use xlink:href="#heart"></use>
                        </svg>
                    </a>

                    <button class="header__hamb d-xl-none js-toggle-menu" type="button">
                        <span class="header__hamb-icon header__hamb-icon--1">
                            <svg width="28" height="13">
                                <use xlink:href="#hamburger"></use>
                            </svg>
                        </span>
                        <span class="header__hamb-icon header__hamb-icon--2">
                            <svg width="22" height="22">
                                <use xlink:href="#cross"></use>
                            </svg>
                        </span>
                    </button>
                </div>
            </div>

            <div class="header__cabinet-wrp d-flex flex-column flex-xl-row justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center mb-3 mb-xl-0">
                    <button class="header__cabinet header__link" type="button" data-src="#popup--register" data-fancybox>Регистрация</button>
                    <button class="header__cabinet header__link" type="button" data-src="#popup--login" data-fancybox>Вход</button>
                    <svg width="22" height="36" class="header__cabinet-icon">
                        <use xlink:href="#door"></use>
                    </svg>
                </div>

                <button class="button mb-3 d-xl-none" data-src="#popup--call" data-fancybox type="button">Оставить заявку</button>

                <a class="header__tel d-xl-none" href="tel:88001234567">8 800 123 45 67</a>
            </div>
        </div>
    </div>
</header>