<section class="offer" style="background-image: url('{{root}}assets/img/home__bg.jpg');">
    {{> header }}
    <div class="offer__in">
        <div class="container">
            <div class="offer__title">
                Собственный участок в мос.области <br>
                <span class="offer__title-big fdem">за 5000</span><span class="rub"></span><span class="offer__title-big fdem">/сотка</span>
            </div>
            <div class="offer__subtitle">Специально для вашего удобства наша команда долгие годы отбирала лучшие участки вокруг Москвы</div>
            <a class="button" href="#">Подобрать участок</a>
        </div>
    </div>
    <svg class="offer__border" width="100%" height="171">
        <use xlink:href="#border--offer"></use>
    </svg>
</section>
