<section class="questions">
    <svg class="questions__border" width="100%" height="183">
        <use xlink:href="#border--top"></use>
    </svg>
    <div class="questions__in">
        <div class="container">
            <div class="section__title">Вопрос-ответ</div>
            <div class="section__subtitle">В этом блоке мы собрали те вопросы, которые в первую очередь волнуют наших клиентов</div>
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="questions__list">
                        <div class="question">
                            <div class="question__top">
                                <span>Как сотка земли в московской области может стоить так мало?</span>
                                <svg width="14" height="9" class="question__arrow">
                                    <use xlink:href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="question__descr">
                                <p>Да, вопрос логичный, но не забывайте о том, что есть рынок и именно он диктует стоимость объектов.</p>
                                <p>Мы приобретаем землю в тех районах, где еще нет коммуникаций и налагаем на себя обязательства их обеспечить, отсюда такая цена земли.</p>
                            </div>
                        </div>
                        <div class="question">
                            <div class="question__top">
                                <span>Тут еще какой-то вопрос, фантазия закончилась?</span>
                                <svg width="14" height="9" class="question__arrow">
                                    <use xlink:href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="question__descr">
                                <p>Да, вопрос логичный, но не забывайте о том, что есть рынок и именно он диктует стоимость объектов.</p>
                                <p>Мы приобретаем землю в тех районах, где еще нет коммуникаций и налагаем на себя обязательства их обеспечить, отсюда такая цена земли.</p>
                            </div>
                        </div>
                        <div class="question">
                            <div class="question__top">
                                <span>И третий вопрос, тут от фантазии не осталось ни следа?</span>
                                <svg width="14" height="9" class="question__arrow">
                                    <use xlink:href="#chevron"></use>
                                </svg>
                            </div>
                            <div class="question__descr">
                                <p>Да, вопрос логичный, но не забывайте о том, что есть рынок и именно он диктует стоимость объектов.</p>
                                <p>Мы приобретаем землю в тех районах, где еще нет коммуникаций и налагаем на себя обязательства их обеспечить, отсюда такая цена земли.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>