<section class="stories">
    <img class="stories__decor stories__decor--1 d-none d-xl-block" src="{{root}}assets/img/begin__decor--3.png" alt="blur-leaf">
    <div class="stories__in section--inner section--gray">
        <div class="container pb-3 pb-xl-5">
            <div class="section__title">Истории наших клиентов</div>
            <div class="row mb-3 mb-xl-4">
                <div class="col-xl-6">
                    <div class="d-flex flex-column justify-content-between h-100">
                        <p>Дело в том, что тут тестовый текст, поэтому сложно будет передать суть вопроса в такого рода тексте. Оставим это тут, чтобы Вы почитали и приняли для себя решение по поводу того почему все-таки так недорого мы отдаем нашу родную землю.</p>
                        <div>
                            <div class="h3 fdem mb-2">Оформили все документы за 3 дня</div>
                            <p>Как у всех, наверное, у нас было куча "тараканов" в голове по поводу переезда из квартиры в дом за город. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 mt-3 mt-xl-0">
                    <div class="stories__video" style="background-image: url('{{root}}/assets/img/stories__img.jpg');">
                        <img class="stories__video-decor stories__video-decor--1 d-none d-xl-block" src="{{root}}assets/img/begin__decor--1.png" alt="leaf">
                        <img class="stories__video-decor stories__video-decor--2 d-none d-xl-block" src="{{root}}assets/img/begin__decor--2.png" alt="leaf">
                        <button class="stories__video-button" data-src="https://www.youtube.com/watch?v=XPpTgCho5ZA" data-fancybox>
                            <svg width="18" height="20">
                                <use xlink:href="#play"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="stories__decor stories__decor--2 d-none d-xl-block" src="{{root}}assets/img/begin__decor--4.png" alt="blur-leaf">
</section>