<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#5DD470">
    <link rel="shortcut icon" href="{{root}}assets/img/favicon.ico" type="image/x-icon">
    <title>New Project</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    {{> preloader}}
    <div class="layout">
        <section class="banner">
            <div class="banner__slider owl-carousel">
                <div class="banner__slider-item">
                    <div class="banner__slider-img owl-lazy" data-src="{{root}}assets/img/area__bg--1.jpg"></div>
                </div>
                <div class="banner__slider-item">
                    <div class="banner__slider-img owl-lazy" data-src="{{root}}assets/img/area__bg--2.jpg"></div>
                </div>
                <div class="banner__slider-item">
                    <div class="banner__slider-img owl-lazy" data-src="{{root}}assets/img/area__bg--3.jpg"></div>
                </div>
            </div>
            <div class="banner__in">
                {{> header}}
                <div class="container">
                    <button class="banner__nav banner__nav--prev js-banner__nav--prev" type="button">
                        <svg width="8" height="11">
                            <use xlink:href="#slider-arrow-prev"></use>
                        </svg>
                    </button>
                    <button class="banner__nav banner__nav--next js-banner__nav--next" type="button">
                        <svg width="7" height="11">
                            <use xlink:href="#slider-arrow-next"></use>
                        </svg>
                    </button>
                    <div class="banner__info">
                        <a class="button button--tr banner__button" href="#">
                        <span class="d-flex align-items-center">
                            <svg width="27" height="9">
                                <use xlink:href="#arrow"></use>
                            </svg>
                            <span class="ml-2 d-none d-xl-block">Вернуться в каталог</span>
                        </span>
                        </a>
                        <div class="crumbs">
                            <span>
                                <a href="#">Главная</a>
                            </span>
                            <span>
                                <a href="#">Каталог</a>
                            </span>
                            <span>Поселок-1</span>
                        </div>

                        <div class="section__title">Поселок-1</div>

                        <div class="d-flex flex-column flex-xl-row flex-wrap justify-content-center align-items-center">
                            <div class="banner__test">
                                <svg width="30" height="30">
                                    <use xlink:href="#area"></use>
                                </svg>
                                <span class="ml-2">20 соток</span>
                            </div>
                            <div class="banner__test">
                                <svg width="24" height="30">
                                    <use xlink:href="#geo"></use>
                                </svg>
                                <span class="ml-2">Ярославская обл.</span>
                            </div>
                            <div class="banner__test">
                                <svg width="30" height="30">
                                    <use xlink:href="#rubl"></use>
                                </svg>
                                <span class="ml-2">от 55 000 рублей за участок</span>
                            </div>
                        </div>
                    </div>
                </div>
                <svg class="banner__border" width="100%" height="171">
                    <use xlink:href="#border--offer"></use>
                </svg>
            </div>
        </section>
        <section class="area-info section--gray">
            <img class="area-info__decor area-info__decor--1 d-none d-xl-block" src="{{root}}assets/img/begin__decor--3.png" alt="blur-leaf">
            <div class="container">
                <div class="text-center mb-3 mb-xl-5">
                    <div class="h3 fdem mb-2">О поселке</div>
                    <p>Это замечательный поселок на севере от МКАД, вокруг только зеленые лужайки и цветы, дети и жена будут в восторге!</p>
                </div>
                <div class="row align-items-xl-end pb-xl-4">
                    <div class="col-xl-6 d-flex flex-column order-2 order-xl-1">
                        <div class="row order-2 order-xl-1 mb-4 mb-xl-0">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <div class="area-info__item">
                                    <div class="area-info__img mb-2 mb-xl-3">
                                        <svg width="50" height="50">
                                            <use xlink:href="#location"></use>
                                        </svg>
                                    </div>
                                    <div class="h3 fdem mb-2 mb-xl-3">Расположение</div>
                                    <p>Тут какой-то текст про расположение участка относительно мск и других ближайших городов/областей</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="area-info__item">
                                    <div class="area-info__img mb-2 mb-xl-3">
                                        <svg width="50" height="50">
                                            <use xlink:href="#infrastructure"></use>
                                        </svg>
                                    </div>
                                    <div class="h3 fdem mb-2 mb-xl-3">Инфраструктура</div>
                                    <p>В поселке превосходная инфраструктура, а у самого участка куча преимуществ, смотрите ниже:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 order-1 order-xl-2 mb-4 mb-xl-0">
                        <div class="area-info__video" >
                            <img class="area-info__video-decor area-info__video-decor--1 d-none d-xl-block" src="{{root}}assets/img/begin__decor--1.png" alt="leaf">
                            <img class="area-info__video-decor area-info__video-decor--2 d-none d-xl-block" src="{{root}}assets/img/begin__decor--2.png" alt="leaf">
                            <button class="area-info__video-button" data-src="https://www.youtube.com/watch?v=XPpTgCho5ZA" data-fancybox>
                                <svg width="18" height="20">
                                    <use xlink:href="#play"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="area-stat d-flex justify-content-between justify-content-sm-center justify-content-xl-between flex-wrap mt-3 mt-xl-5">
                    <div class="area-stat__item area-stat__item--succeed" data-toggle="tooltip" title="Завершено" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="22" height="36">
                                <use xlink:href="#filter__checkbox-icon--1"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Электричество</span>
                    </div>
                    <div class="area-stat__item area-stat__item--succeed" data-toggle="tooltip" title="Завершено" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="37" height="37">
                                <use xlink:href="#filter__checkbox-icon--2"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Ограждение</span>
                    </div>
                    <div class="area-stat__item area-stat__item--succeed" data-toggle="tooltip" title="Завершено" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="32" height="36">
                                <use xlink:href="#filter__checkbox-icon--3"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Освещение</span>
                    </div>
                    <div class="area-stat__item" data-toggle="tooltip" title="Завершение&nbsp;запланировано на&nbsp;2023&nbsp;год. готово на 75%" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="75, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="36" height="36">
                                <use xlink:href="#filter__checkbox-icon--4"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Дороги</span>
                    </div>
                    <div class="area-stat__item" data-toggle="tooltip" title="Завершение&nbsp;запланировано на&nbsp;2023&nbsp;год. готово на 50%" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="50, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="36" height="36">
                                <use xlink:href="#filter__checkbox-icon--5"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Спортивная площадка</span>
                    </div>
                    <div class="area-stat__item" data-toggle="tooltip" title="Завершение&nbsp;запланировано на&nbsp;2023&nbsp;год. готово на 50%" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="50, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="36" height="36">
                                <use xlink:href="#filter__checkbox-icon--6"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Детская площадка</span>
                    </div>
                    <div class="area-stat__item" data-toggle="tooltip" title="Завершение&nbsp;запланировано на&nbsp;2023&nbsp;год. готово на 15%" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="15, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="38" height="36">
                                <use xlink:href="#filter__checkbox-icon--7"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Пикник-место</span>
                    </div>
                    <div class="area-stat__item" data-toggle="tooltip" title="Завершение&nbsp;запланировано на&nbsp;2023&nbsp;год. готово на 15%" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="15, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="38" height="36">
                                <use xlink:href="#filter__checkbox-icon--8"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Пляж</span>
                    </div>
                    <div class="area-stat__item" data-toggle="tooltip" title="Завершено" data-placement="top">
                        <span class="area-stat__circle">
                            <svg class="area-stat__percentage" viewBox="0 0 36 36">
                              <path class="animatable" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"/>
                            </svg>
                            <svg class="area-stat__icon" width="33" height="36">
                                <use xlink:href="#filter__checkbox-icon--9"></use>
                            </svg>
                        </span>
                        <span class="text-center p1">Охрана</span>
                    </div>
                </div>
            </div>
            <img class="area-info__decor area-info__decor--2 d-none d-xl-block" src="{{root}}assets/img/begin__decor--4.png" alt="blur-leaf">
        </section>
        <section class="plan">
            <div class="plan__top">
                <div class="container">
                    <div class="section__title text-left">Ген.план поселка</div>
                </div>
            </div>
            <svg class="plan__border plan__border--top" width="100%" height="183">
                <use xlink:href="#border--top"></use>
            </svg>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2a2079e6d8992dea7c679cc8ec355ebefaa1d823feea1b5de3e354d97ce2134b&amp;source=constructor" width="100%" height="800" frameborder="0"></iframe>
            <svg class="plan__border plan__border--bot" width="100%" height="183">
                <use xlink:href="#border--top"></use>
            </svg>
        </section>
        <section class="section--inner section--gray">
            <div class="container">
                <div class="section__title">Лучшие предложения поселка Поселок-1</div>
                {{> object__list}}
            </div>
        </section>
        <section class="tour">
            <div class="tour__top">
                <div class="container">
                    <div class="section__title">3D тур</div>
                </div>
            </div>
            <svg class="plan__border plan__border--top" width="100%" height="183">
                <use xlink:href="#border--top"></use>
            </svg>
            <div class="tour__iframe" style="background-image: url('{{root}}/assets/img/tour__bg.jpg');"></div>
            <svg class="tour__border tour__border--bot" width="100%" height="183">
                <use xlink:href="#border--top"></use>
            </svg>
        </section>
        <section class="area-reserv">
            <div class="section__in section--inner">
                <div class="container">
                    <div class="section__title">Хотите забронировать несколько участков поблизости?</div>
                    <div class="row">
                        <div class="col-xl-6 mb-5 mb-xl-0">
                            <div class="h-100 d-flex flex-column justify-content-between align-items-start">
                                <div>Положите текущий участок в Портфель объектов, чтобы не забыть про него и выбирать следующие.</div>
                                <div class="d-flex justify-content-center w-100">
                                    <button class="button">Положить в портфель</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 mb-3 mb-xl-0">
                            <div class="h-100 d-flex flex-column justify-content-between align-items-start">
                                <div>Если Вы хотите найти соседние участки с текущим - нажмите на кнопку и мы подберем их в порядке убывания расстояния от текущего участка.</div>
                                <div class="d-flex justify-content-center w-100">
                                    <button class="button">Подобрать соседние участки</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <svg class="section__border section__border--bot" width="100%" height="183">
                <use xlink:href="#border--top"></use>
            </svg>
        </section>
        <section class="section--inner section--gray">
            <div class="container">
                <div class="section__title">Соседние поселки</div>
                {{> object__list}}
            </div>
        </section>
        {{> stories}}
        {{> questions}}
        {{> footer}}
    </div>
    {{> popups}}
    {{> svg}}
    <script src="{{root}}assets/js/app.js"></script>
</body>
</html>
